<mat-card>

    <mat-card-title>Escrever notificação</mat-card-title>

    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <form>


        <mat-form-field>
            <input matInput placeholder="Título da notificação" [(ngModel)]="product.titulo" name="name">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Texto da notificação" [(ngModel)]="product.mensagem" name="mensagem">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="magem de notificação (opcional)" [(ngModel)]="product.imagem" name="imagem">
        </mat-form-field>

        <h3 class="subtitle">Segmentação</h3>
        <mat-radio-group [(ngModel)]="product.segmentacao" class="tp-radio-group" (change)="radioChange($event)">
            <mat-radio-button class="tp-radio-button" *ngFor="let categoria of categoria" [value]="categoria">
                {{categoria}}
            </mat-radio-button>
        </mat-radio-group>
        <!-- <div class = "tp-selected-value">
            Selected Season: {{favoriteSeason}}
         </div> -->
        <br>



        <!--         <h3 class="subtitle">Secretaria</h3>

         <mat-form-field >
            <mat-select [(value)]="selected" multiple>
              <mat-select-trigger>Selected</mat-select-trigger>
              <mat-option *ngFor="let column of columns" [value]="column.value">{{column.label}}</mat-option>
            </mat-select>
          </mat-form-field>

-->




    </form>
    <button mat-raised-button (click)="openDialog()" color="primary"> Enviar mensagem de teste</button>

    <button mat-raised-button (click)="createProduct()" color="primary"> Enviar </button>
    <button mat-raised-button (click)="cancel()"> Cancelar</button>
</mat-card>