form {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 20px;
    margin-right: 15px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.subtitle {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}